BODY {
    width: 950px;
    margin: 0 auto;
    font-size: 11pt;
    color: #666;
    font-family: Helvetica Arial;
}

#header {}

#navbar {}

#navbar ul {
}

#navbar ul li {
    display: inline;
    margin: 1em;
}

p {
    line-height: 150%;
}

h2 {
    border-bottom: 1px solid #888;
}
