body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 8pt;
    color: #FFF;
    background: #333;
}

#canvas {
    display: inline-block;
}

#info {
    display: inline-block;
    margin: 0;
    margin-left: 10px;
    vertical-align: top;
}
