@font-face {
    font-family: "Steamwreck";
    src: url("Steamwreck.ttf");
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 8pt;
    color: #FFF;
    background: #333;
}

#canvas {
    display: inline-block;
}

#info {
    display: inline-block;
    margin: 0;
    margin-left: 10px;
    vertical-align: top;
}

#log {
    width: 400px;
    height: 300px;
    background: #000;
    color: #FFF;
    font-family: monospace;
    font-size: 8pt;
    padding: 10px;
    border: 0;
}
