<!doctype html>
{% load jam %}
<html>
<head>
    <title>RGJ{% block title %} - You were eaten hardly!{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/css.css">
    <link rel="stylesheet" type="text/css" href="/static/stars/jquery.ui.stars.min.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
    <div id="WRAPPER">
        <div id="HEADER">
            <div id="ICON">
            </div>
            <div id="MINI_SEARCH">
                <form>
                    <input type="text" id="MINI_SEARCH_Q" name="q"
                    placeholder="Search..."><input type="submit" value="" id="MINI_SEARCH_S">
                </form>
            </div>
            <div id="HEADLINE">
                <h2>You were eaten by a</h2>
                <h1>Reddit Game Jam</h1>
            </div>
            <div id="MENU">
                <div id="LOGIN">
                    <ul>
                        {% if user.is_authenticated %}
                            <li>Logged in as <a href="/accounts/profile/">{{ user.username }}</a></li>
                            <li><a href="/accounts/logout/?next=/">log out</a></li>
                        {% else %}
                            <li><a href="/accounts/login/">log in</a></li>
                            <li><a href="/accounts/register/">sign up</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div id="NAVBAR">
                    <ul>
                        <li><a href="/" class="{% current request "^/jams/$" %}">home</a></li>
                        <li><a href="#">announcements</a></li>
                        <li><a href="#">rulez</a></li>
                        {% show_jams %}
                    </ul>
                </div>
            </div>
        </div>
        <div id="CONTENT">
            <div class="_announcement">
                Annoucement: <a href="#">Reddit Game Jam 06 annouced</a> :: 2010-05-14
                22:00 UTC to 2010-05-16 22:00 UTC :: <a href="#" >Rulez here</a>
            </div>
            {% block content %}
                CONTENT FICK HURE DU HAST WAS VERGESSEN, TROTTEL D:&lt;
            {% endblock %}

        </div>
        <div id="FOOTER">
            <div id="FOOTER_NAVBAR">
                <ul>
                    <li><a href="/faq/" class="{% current request "^/faq/$" %}">faq</a></li>
                    <li><a href="/about/" class="{% current request "^/about/$" %}">about</a></li>
                    <li><a href="/contact/" class="{% current request "^/contact/$" %}">contact</a></li>
                </ul>
            </div>
            <div id="COPYRIGHT_NOTE">
                This site is not owned or operated by Cond&eacute; Nast
                Publications or Reddit.com
            </div>
        </div>
    </div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/stars/jquery.ui.stars.min.js"></script>
    <script type="text/javascript">
        $(".stars").stars();
        $(".stars li").remove();
    </script>
</body>
</html>
