{% extends "base.html" %}

{% block content %}
    <h2>{{ entry.title }}</h2>
    <p>{{ entry.description }}</p>
    <a href="{{ entry.screenshotlink }}" class="external">Screenshot</a>
    <a href="{{ entry.downloadlink }}" class="external">Download</a>
    <a href="{{ entry.timelapselink }}" class="external">Timelapse</a>
    {% if rating %}
        <dl>
            <dt>Gameplay</dt>
            <dd>{{ rating.gameplay }}</dd>
            <dt>Graphics</dt>
            <dd>{{ rating.graphics }}</dd>
            <dt>Music</dt>
            <dd>{{ rating.music }}</dd>
            <dt>Fun</dt>
            <dd>{{ rating.fun }}</dd>
            <dt>Overall</dt>
            <dd>{{ rating.overall }}</dd>
    {% endif %}
    {% if rating_form %}
        <form action="" method="post">{% csrf_token %}
            <table>
                {{ rating_form.as_table }}
            </table>
            <input type="submit" name="vote" value="Vote" />
            <input type="submit" name="abstain" value="Abstain" />
        </form>
    {% endif %}
{% endblock %}
