{% extends "base.html" %}
{% load jam %}
{% block content %}
    <h2>{{ entry.title }}</h2>
    <p>{{ entry.description }}</p>
    <a href="{{ entry.screenshot_link }}" class="external">Screenshot</a>
    <a href="{{ entry.download_link }}" class="external">Download</a>
    <a href="{{ entry.time_lapse_link }}" class="external">Timelapse</a>
    {% if rating %}
        <dl>
            <dt>Gameplay</dt>
            <dd>{% stars rating.gameplay %} &nbsp;{{ rating.gameplay }} Stars</dd>
            <dt>Graphics</dt>
            <dd>{% stars rating.graphics %} &nbsp;{{ rating.graphics }} Stars</dd>
            <dt>Music</dt>
            <dd>{% stars rating.music %} &nbsp;{{ rating.music }} Stars</dd>
            <dt>Fun</dt>
            <dd>{% stars rating.fun %} &nbsp;{{ rating.fun }} Stars</dd>
            <dt>Overall</dt>
            <dd>{% stars rating.overall %} &nbsp;{{ rating.overall }} Stars</dd>
    {% endif %}
    {% if rating_form %}
        <form action="" method="post">{% csrf_token %}
            <table>
                {{ rating_form.as_table }}
            </table>
            <input type="submit" name="vote" value="Vote" />
            <input type="submit" name="abstain" value="Abstain" />
        </form>
    {% endif %}
{% endblock %}
