{% extends "base.html" %}

{% block content %}
    <div class="_jam">
        <h2>{{ jam.title }}</h2>
        <p>{{ jam.description }}</p>
        <p>{{ jam.rules }}</p>
        <p class="_date">{{ jam.date_start }} - {{ jam.date_end }}</p>
        <i>posted {{ jam.date_announced }}</i>
        <a href="{{ jam.redditpost }}" target="_blank" class="external">{{ jam.redditpost }}</a>
    </div>
    {% if not_started %}
        <p>The contest hasn't started yet.</p>
    {% endif %}
    {% if not_finished %}
        {% if entry_form %}
            <h2>Submit your entry</h2>
            <form action="" method="post">{% csrf_token %}
                <table>
                    {{ entry_form.as_table }}
                </table>
                <input type="submit" value="Enter" />
            </form>
        {% else %}
            <p>The contest is still ongoing.</p>
        {% endif %}
    {% endif %}
    {% if cant_vote %}
        <p>
            The contest has finished but you've not been authorised to view
            entries or vote. You will be able to see the entries once the voting
            period is over.
        </p>
    {% endif %}
    {% if entries %}
        <h2>Entries</h2>
        <ul>
            {% for entry in entries %}
                <li>
                    <a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if voting %}
        {% if next_entry %}
            <h2><a href="{{ next_entry.get_absolute_url }}">Start voting</a></h2>
        {% else %}
            <p>You've already voted on all entries</p>
        {% endif %}
    {% endif %}
{% endblock %}
