<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />

  <title>GameJam</title>
  <meta name="description" content="" />
  <meta name="author" content="" />

  <link rel="shortcut icon" href="/media/images/favicon.ico" />

  <link href="/media/css/styles.css" rel="stylesheet" type="text/css" media="screen" />

</head>

<body>
 
    <div id="root">
        HEADER<br />
        {% block content%}
            YOUR TEMPLATE SUCKS
            {% endblock %}
        FOOTER<br />
    </div>
 
</body>
</html>
