<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="shortcut icon" href="/static/images/favicon.ico" />
		<link href="/static/css/styles.css" rel="stylesheet" type="text/css" media="screen" />
		<title>Reddit Game Jam - where bacon and narwhals meet to create awesome games</title>
	</head>

	<body>
		<div id="header">
			<a href="/"><img src="/static/images/header.png" alt="header"></a>
		</div>

		<div id="announce">
			<p>Next game jame: blah blah</p>
		</div>

		<div id="navbar">
			<p>Jams:</p>
			<ul>
				<li><a href="/jams/rgj1">RGJ1</a></li>
				<li><a href="/jams/rgj2">RGJ2</a></li>
				<li><a href="/jams/rgj3">RGJ3</a></li>
				<li><a href="/jams/rgj4">RGJ4</a></li>
				<li><a href="/jams/rgj5">RGJ5</a></li>
			</ul>
		</div>

		<div id="content">
			<h2>Welcome to Reddit Game Jam</h2>
			<p>This is lorem ipsum dolor</p>
		</div>

		<div id="footer">
			<p>Copyright blah blah 201222</p>
			<a href="/contact/">Impressum</a>
		</div>
	</body>
</html>
